<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <title>AngularJS Single Page App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="MainController">
      <h1>{{ message }}</h1>
      <input type="text" ng-model="name" placeholder="Enter your name" />
      <button ng-click="updateMessage()">Update Message</button>
    </div>
  </body>
</html>
